<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('homepage') }}" class="logo"><img src="{{ asset("images/logo.png") }}" alt="ISEN Immo"> <a href="{{ path('homepage') }}" class="navbar-brand">ISEN Immo</a>
        </div>

        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="#">Partenaires</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('annonce_ajouter') }}" class="btn btn-default">Soumettre une annonce</a></li>
                <li><a href="{{ path('contact') }}" class="btn btn-default">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</nav>