{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section class="form">
  <h1>Connexion</h1>
  {% trans_default_domain 'FOSUserBundle' %}

  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path("fos_user_security_check") }}" method="post">
      {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      {% endif %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="username">{{ 'security.login.username'|trans }}</label>
              <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="password">{{ 'security.login.password'|trans }}</label>
              <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">

              <label for="remember_me"><input type="checkbox" class="form-control" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}</label>
            </div>
          </div>

          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default center-block"/>
        </div>
      </div>
  </form>
</section>
{% endblock %}
