{% extends 'base.html.twig' %}

{% block body %}
    <section class="filtres">
        <form class="form-horizontal" role="search">
            <div class="form-group barre">
                <input type="text" class="form-control" placeholder="Rechercher">
                <button type="submit" class="btn btn-default">OK</button>
            </div>



        </form>
    </section>

    <section class="resultats">
        <div class="resultats row">
            {% for annonce in annonces %}
                <div class="resultat col-md-4 col-sm-6 col-xs-12">
                    <a href="">
                        <div class="img"><img src="{{ asset(annonce.images[0].getWebPath) }}" alt="img"></div>
                        <h4>{{ annonce.nom }} <small>{{ annonce.surface }} m²</small></h4>
                        <b class="prix" title="Prix par mois">{{ annonce.loyer }} €</b>
                        <i class="nb-images">{{ annonce.images.count() }} image{{ (annonce.images.count() > 1 ? 's' : '') }}</i>
                    </a>
                </div>
            {%  endfor %}

        </div>

        {{ dump(annonces) }}
    </section>
    <div id="map"></div>

{% endblock %}

{% block stylesheets %}
<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>
{% endblock %}

{% block javascripts %}
<script>
  function initMap() {
    // init de la map
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: {lat: 48.400, lng: -4.483}
    })
    // recup du geocoder
    var geocoder = new google.maps.Geocoder()
    // recup des images
    var markerIsen = {
      url: '{{ asset('images/google-maps-marker-isen.png') }}',
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(-20, -30),
      anchor: new google.maps.Point(20, 30),
      scaledSize: new google.maps.Size(25, 25)
    }

    var markerAutre = {
      url: '{{ asset('images/google-maps-marker-isen.png') }}',
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(25, 25)
    }

    function addMarkerByAdress(adress, title, link){
      // on recupère la geoloc via l'adresse
      geocoder.geocode({ 'address': adress}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location)
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              label: title,
              title: title,
              icon: markerIsen
          })
          if(link !== null){
            marker.icon = markerAutre;
            marker.addListener('click', function() {
              window.location.href = link
            })
          }
        }
      })
    }
    // ajout du marker de l'isen
    addMarkerByAdress('ISEN 20 rue Cuirassé Bretagne 29200 Brest', 'Isen Brest', null)
    // ajout des marker de logement
    {% for annonce in annonces %}
    addMarkerByAdress('{{ annonce.adresse }} {{ annonce.ville }} {{ annonce.codePostal }}', '{{ annonce.loyer }}€', '{{ path('annonce', {id: annonce.id}) }}')
    {% endfor %}
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-P78_NdIocIny3qprkof_6qqbXp_sMt8&callback=initMap"></script>
{% endblock %}
