{% extends 'base.html.twig' %}

{% block body %}
    <section class="filtres">
        <form class="form-horizontal" role="search">
            <div class="form-group barre">
                <input type="text" class="form-control form-listener" placeholder="Rechercher" id="rechercher">
            </div>
            <div id="map"></div>
        </form>
    </section>
    <section class="resultats">
        <div class="resultats row">
            {% for annonce in annonces %}
                <div class="resultat col-md-4 col-sm-6 col-xs-12" data-nom="{{ annonce.nom }}" data-loyer="{{ annonce.loyer }}" data-surface="{{ annonce.surface }}" data-nombre-pieces="{{ annonce.nombrePieces }}">
                    <a href="{{ path('annonce', {id: annonce.id}) }}">
                        <div class="img">
                          {% if annonce.images is not empty %}
                          <img src="{{ asset(annonce.images[0].getWebPath) }}" alt="img">
                          {% endif %}
                        </div>
                        <h4>{{ annonce.nom }} <small>{{ annonce.surface }} m²</small></h4>
                        <b class="prix" title="Prix par mois">{{ annonce.loyer }} €</b>
                        <i class="nb-images">{{ annonce.images.count() }} image{{ (annonce.images.count() > 1 ? 's' : '') }}</i>
                    </a>
                </div>
            {%  endfor %}
        </div>
    </section>
{% endblock %}


{% block javascripts %}
<script>

  $('.form-listener').on('change paste keyup', function(){
    var rechercher = $('#rechercher').val()
    $('.resultat').each(function(){
      var resultat = $(this)
      var ok = false
      // on check les champs
      if(rechercher === ''){
        ok = true
      }
      else if(resultat.attr('data-nom').indexOf(rechercher) !== -1){
        ok = true
      }

      // on affiche ou non
      if(ok){
        resultat.show()
      }else{
        resultat.hide()
      }
    })
  })

  function initMap() {
    // init de la map
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      scrollwheel: false,
      center: {lat: 48.400, lng: -4.483}
    })
    // recup du geocoder
    var geocoder = new google.maps.Geocoder()
    // recup des images
    var markerIsen = {
      url: '{{ asset('images/google-maps-marker-isen.png') }}',
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(-20, -30),
      anchor: new google.maps.Point(20, 30),
      scaledSize: new google.maps.Size(25, 25)
    }

    var markerAutre = {
      url: '{{ asset('images/google-maps-marker-isen.png') }}',
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(25, 25)
    }

    function addMarkerByAdress(adress, title, link){
      // on recupère la geoloc via l'adresse
      geocoder.geocode({ 'address': adress}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              label: title,
              title: title,
              icon: markerIsen
          })
          if(link !== null){
            marker.icon = markerAutre;
            marker.addListener('click', function() {
              window.location.href = link
            })
          }else{
            map.setCenter(results[0].geometry.location)
          }
        }
      })
    }
    // ajout du marker de l'isen
    addMarkerByAdress('{{ adresse_isen }}', 'Isen', null)
    // ajout des marker de logement
    {% for annonce in annonces %}
    addMarkerByAdress('{{ annonce.adresse }} {{ annonce.ville }} {{ annonce.codePostal }}', '{{ annonce.loyer }}€', '{{ path('annonce', {id: annonce.id}) }}')
    {% endfor %}
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"></script>
{% endblock %}
