{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

    <section id="partenaires">
        <h1>Partenaires</h1>
        <ul>
            <li><a href="https://www.smeba.fr/"><img src="{{ asset('images/partenaires/smeba.jpg') }}" alt="Smeba"></a></li>
            <li><a href="https://fr.foncia.com/"><img src="{{ asset('images/partenaires/foncia.jpg') }}" alt="Foncia"></a></li>
            <li><a href="https://www.appartcity.com/fr/offre-etudiante.html"><img src="{{ asset('images/partenaires/appartcity.png') }}" alt="Appartcity"></a></li>
            <li><a href="https://www.arpej.fr/ville/brest/"><img src="{{ asset('images/partenaires/arpej.png') }}" alt="ARPEJ"></a></li>
            <li><a href="http://www.oceanicimmobilier-brest.fr/"><img src="{{ asset('images/partenaires/oceanic.png') }}" alt="Océanic Immobilier"></a></li>
        </ul>
    </section>

{% endblock %}
